<nav class="navbar" id="header">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">仲之地</a>
        </div>
        <div class="navbar-collapse collapse bs-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a class="navbar-item" href="/blog/archives/">Blog</a></li>
                <li><a class="navbar-item" href="/notes/archives/">笔记</a></li>
                <li><a class="navbar-item" href="/tms/">时间管理</a></li>
                <li><a class="navbar-item" href="/reading/">读书</a></li>
                <li><a class="navbar-item" href="/photos/">摄影</a></li>
                <li><a class="navbar-item" href="/tags/">标签</a></li>
                <li><a class="navbar-item" href="/archives/">归档</a></li>
                <li><a class="navbar-item" href="/guestbook">留言本</a></li>
                <li><a class="navbar-item" href="/timeline/">时间线</a></li>
            </ul>
        </div>
    </div>
</nav>
