html.evernote, body.evernote {
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}

.evernote {
  .container, .row-evernote, .aside, .aside-1, .aside-2, .content {
    height: 100%;
  }

  .aside-1 {
    background-color: #f8f8f8;
    border-right: 1px solid #ececec;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    a {
      color: #666;
      border-radius: 0px;
    }
  }
  .avatar {
    padding: 3px;
    width: 100%;
    margin-bottom: 30px;
  }

  .aside-2 {
    border-right: 1px solid #ececec;
    padding-left: 10px;
    padding-right: 10px;
  }

  .aside-2, .content {
    padding-top: 20px;
    overflow-y: auto;
  }
  .container {
    width: 100%;
  }

  .media {
    border-bottom: 1px solid #ececec;
    height: 72px;
    .media-heading {
      font-size: 14px;
      a {
        color: #000;
      }
    }
    img.media-object {
      width: 40px;
      max-height: 60px;
    }
  }
  .last-update {
    font-size: 12px;
  }
  .last-update-time {
    a {
      color: #008000;
    }
  }

  .list-group-item {
    font-size: 14px;
  }

  li.active>a, li.active>a:focus, li.active>a:hover {
    color: #666;
    background-color: #e5e5e5;
  }

}

