.navbar {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  border-radius: 0px;
  margin-bottom: 0;

  .navbar-brand {
    color: #333;
    font-weight: 500;
    font-family: 'Lora',Georgia,'SimSun','Microsoft YaHei',serif;
  }

  .nav {
    float: right;
  }
  .nav > li > a {
    color: #333;
    font-size: 14px;
  }

  .navbar-brand, .navbar-item {
    height: 65px;
    line-height: 35px;
  }
}
