html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: Helvetica Neue,Helvetica,Arial,"Open Sans","Hiragino Sans GB","Microsoft YaHei","STHeiti","WenQuanYi Micro Hei",SimSun,Arial,sans-serif !important;
  padding-top: 0px;
  /* height: 100%; */
  min-height: 100%;
  font-size: 15px;
  width: 100%;
  max-width: 100%;
  font-weight: 400;
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: .2px; }

.inner-container {
  max-width: 700px;
  margin: 0 auto; }

p {
  word-wrap: break-word;
  word-break: normal; }

pre {
  border: none;
  background-color: #f7f7f7;
  border-radius: 3px;
  white-space: pre-wrap; }

code {
  background: none !important; }

h1 {
  margin-top: 25px;
  margin-bottom: 20px; }

h2 {
  font-weight: 400;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #444;
  padding-bottom: 9px; }

h3 {
  font-weight: 400;
  font-size: 20px;
  margin: 20px 0; }

h4, h5, h6 {
  font-size: 18px;
  margin: 15px 0; }

h1, h2, h3, h4, h5, h6 {
  clear: both; }

p, ul, pre {
  margin: 0 0 15px; }

p, ul, pre, li {
  line-height: 1.7; }

blockquote {
  font-size: 15px; }

img {
  display: block;
  margin: 0 auto; }

.img-default {
  display: block;
  margin: 0 auto;
  width: 75%; }

.img-center {
  display: block;
  margin: 0 auto; }
  .img-center .img-title {
    text-align: center; }

.img-title {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 5px;
  text-align: center; }

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; }

.plyr__play-large svg {
  color: #333; }

.plyr--audio .plyr__controls button.tab-focus:focus, .plyr--audio .plyr__controls button:hover, .plyr__play-large {
  background: #fff; }

.m-a-0 {
  margin: 0 !important; }

.m-t-0 {
  margin-top: 0 !important; }

.m-r-0 {
  margin-right: 0 !important; }

.m-b-0 {
  margin-bottom: 0 !important; }

.m-l-0 {
  margin-left: 0 !important; }

.m-a {
  margin: 20px !important; }

.m-t {
  margin-top: 20px !important; }

.m-r {
  margin-right: 20px !important; }

.m-b {
  margin-bottom: 20px !important; }

.m-l {
  margin-left: 20px !important; }

.m-x {
  margin-right: 20px !important;
  margin-left: 20px !important; }

.m-y {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.m-x-auto {
  margin-right: auto !important;
  margin-left: auto !important; }

.m-a-xs {
  margin: 10px !important; }

.m-t-xs {
  margin-top: 10px !important; }

.m-r-xs {
  margin-right: 10px !important; }

.m-b-xs {
  margin-bottom: 10px !important; }

.m-l-xs {
  margin-left: 10px !important; }

.m-x-xs {
  margin-right: 10px !important;
  margin-left: 10px !important; }

.m-y-xs {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.m-a-md {
  margin: 30px !important; }

.m-t-md {
  margin-top: 30px !important; }

.m-r-md {
  margin-right: 30px !important; }

.m-b-md {
  margin-bottom: 30px !important; }

.m-l-md {
  margin-left: 30px !important; }

.m-x-md {
  margin-right: 30px !important;
  margin-left: 30px !important; }

.m-y-md {
  margin-top: 30px !important;
  margin-bottom: 30px !important; }

.m-a-lg {
  margin: 60px !important; }

.m-t-lg {
  margin-top: 60px !important; }

.m-r-lg {
  margin-right: 60px !important; }

.m-b-lg {
  margin-bottom: 60px !important; }

.m-l-lg {
  margin-left: 60px !important; }

.m-x-lg {
  margin-right: 60px !important;
  margin-left: 60px !important; }

.m-y-lg {
  margin-top: 60px !important;
  margin-bottom: 60px !important; }

.p-a-0 {
  padding: 0 !important; }

.p-t-0 {
  padding-top: 0 !important; }

.p-r-0 {
  padding-right: 0 !important; }

.p-b-0 {
  padding-bottom: 0 !important; }

.p-l-0 {
  padding-left: 0 !important; }

.p-a {
  padding: 20px !important; }

.p-t {
  padding-top: 20px !important; }

.p-r {
  padding-right: 20px !important; }

.p-b {
  padding-bottom: 20px !important; }

.p-l {
  padding-left: 20px !important; }

.p-x {
  padding-right: 20px !important;
  padding-left: 20px !important; }

.p-y {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.p-x-auto {
  padding-right: auto !important;
  padding-left: auto !important; }

.p-a-xs {
  padding: 10px !important; }

.p-t-xs {
  padding-top: 10px !important; }

.p-r-xs {
  padding-right: 10px !important; }

.p-b-xs {
  padding-bottom: 10px !important; }

.p-l-xs {
  padding-left: 10px !important; }

.p-x-xs {
  padding-right: 10px !important;
  padding-left: 10px !important; }

.p-y-xs {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.p-a-md {
  padding: 30px !important; }

.p-t-md {
  padding-top: 30px !important; }

.p-r-md {
  padding-right: 30px !important; }

.p-b-md {
  padding-bottom: 30px !important; }

.p-l-md {
  padding-left: 30px !important; }

.p-x-md {
  padding-right: 30px !important;
  padding-left: 30px !important; }

.p-y-md {
  padding-top: 30px !important;
  padding-bottom: 30px !important; }

.p-a-lg {
  padding: 60px !important; }

.p-t-lg {
  padding-top: 60px !important; }

.p-r-lg {
  padding-right: 60px !important; }

.p-b-lg {
  padding-bottom: 60px !important; }

.p-l-lg {
  padding-left: 60px !important; }

.p-x-lg {
  padding-right: 60px !important;
  padding-left: 60px !important; }

.p-y-lg {
  padding-top: 60px !important;
  padding-bottom: 60px !important; }

#toc {
  padding-top: 10px;
  padding-bottom: 10px;
  /* active & hover links */
  /* all active links */
  /* nested active links */
  /* hide inactive nested list */
  /* show active nested list */ }
  #toc .nav > li > a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 4px 4px 20px;
    font-size: 13px;
    font-weight: 400; }
  #toc .nav .nav > li > a {
    border-left: 1px solid transparent;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px; }
  #toc .nav > .active > a,
  #toc .nav > li > a:hover,
  #toc .nav > li > a:focus {
    color: #666;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #999; }
  #toc .nav > .active > a,
  #toc .nav > .active:hover > a,
  #toc .nav > .active:focus > a {
    font-weight: 700; }
  #toc .nav .nav > .active > a,
  #toc .nav .nav > .active:hover > a,
  #toc .nav .nav > .active:focus > a {
    font-weight: 700; }
  #toc .nav ul.nav {
    display: none; }
  #toc .nav > .active > ul.nav {
    display: block; }
  #toc .affix {
    top: 10px; }
  #toc .affix-bottom {
    position: absolute; }

#toc.affix {
  top: 10px !important;
  margin-top: 0 !important; }

#toc.affix-bottom {
  position: absolute !important; }

.navbar {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  border-radius: 0px;
  margin-bottom: 0; }
  .navbar .navbar-brand {
    color: #333;
    font-weight: 500;
    font-family: 'Lora',Georgia,'SimSun','Microsoft YaHei',serif; }
  .navbar .nav {
    float: right; }
  .navbar .nav > li > a {
    color: #333;
    font-size: 14px; }
  .navbar .navbar-brand, .navbar .navbar-item {
    height: 65px;
    line-height: 35px; }

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #767676;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  font-size: 15px; }
  .footer ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0; }
  .footer li {
    display: inline; }
  .footer .footer-social {
    margin-bottom: 20px; }
  .footer .footer-links {
    margin-top: 20px; }

.note {
  font-size: 15px;
  background: #fff;
  font-family: 'Gotham Narrow SSm','Helvetica Neue',Helvetica,sans-serif; }
  .note a {
    color: #3b94d9; }
  .note pre {
    padding: 3px; }
  .note h1 {
    font-size: 32px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee; }
  .note h2 {
    font-size: 24px;
    font-weight: normal; }
  .note h3 {
    font-weight: normal;
    font-size: 20px; }
  .note h4, .note h5, .note h6 {
    font-size: 15px;
    margin: 15px 0; }
  .note .note-content-wrap {
    border-right: 1px solid #fefefe; }
  .note .note-aside {
    font-size: 13px; }
  .note #toc {
    background: #f8f8f8; }
    @media (max-width: 991px) {
      .note #toc {
        display: none !important; } }
    @media (min-width: 992px) {
      .note #toc {
        width: 213px; } }
    @media (min-width: 1200px) {
      .note #toc {
        width: 263px; } }
    .note #toc h2 {
      background: #79aec8;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      padding: 5px 15px;
      margin-bottom: 12px;
      border-bottom: none; }

#articleBar.affix {
  top: 0px !important;
  margin-top: 0 !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  border-bottom: none; }

#articleBar.affix-bottom {
  position: absolute !important; }

#articleBar-wrapper {
  height: 50px; }

#articleBar {
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #eee; }
  #articleBar ul {
    list-style: none;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0; }
    #articleBar ul li {
      display: inline;
      margin: 0 10px; }
      #articleBar ul li a {
        display: inline-block;
        height: 50px;
        padding: 15px 0;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        color: #71767a; }
    #articleBar ul li.active a {
      color: #0099e5;
      border-bottom: 2px solid #0099e5; }

.life #checkpointList {
  overflow: scroll; }

.archives .archives-item-list li {
  list-style: circle;
  margin: 3px 0; }
.archives .archives-date, .archives .archives-divider {
  color: #666; }
.archives .archives-divider {
  margin: 0 3px; }

body.gallery {
  font: 16px/1.5 "Open Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.1px;
  padding: 0;
  margin: 0;
  background: #090909;
  color: #444;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

.gallery .Collections,
.gallery .Posts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
.gallery .Collection,
.gallery .Post-teaser {
  width: 33.33%;
  height: 250px;
  background-position: 50% 50%;
  background-size: cover;
  position: relative; }
.gallery .Collection .contents,
.gallery .Post-teaser .contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
  opacity: 0;
  z-index: 15;
  position: absolute;
  top: 0;
  left: 0; }
.gallery .Collection:hover .contents,
.gallery .Post-teaser:hover .contents {
  opacity: 1; }
.gallery .Collection .contents a,
.gallery .Post-teaser .contents a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .7rem;
  letter-spacing: 1px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  padding: 10px 25px; }
.gallery .Collection .contents a:hover,
.gallery .Post-teaser .contents a:hover {
  background: white;
  color: black;
  text-decoration: none; }
.gallery .Exif {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  pointer-events: none;
  padding-top: 300px;
  font-size: .85rem;
  opacity: 0;
  z-index: 200; }
.gallery .Exif.show {
  padding-top: 0;
  opacity: 1;
  pointer-events: all; }
.gallery .Exif td:first-child {
  text-align: right;
  font-weight: 400;
  padding-right: 10px;
  color: white; }
.gallery .Exif-close {
  position: absolute;
  top: 50px;
  right: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 35px;
  height: 35px;
  line-height: 32px;
  border-radius: 50%;
  text-align: center;
  font-size: .75rem;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 200ms;
  transition: all 200ms; }
.gallery .Exif-close:hover {
  border-color: white;
  color: white; }
.gallery footer {
  font-family: "Roboto";
  padding: 50px 25px;
  font-size: .75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
.gallery footer ul {
  list-style: none;
  margin-right: 25px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }
.gallery footer ul li.title {
  font-weight: 400;
  color: white; }
.gallery footer ul:last-child li {
  width: 50%; }
.gallery .Images {
  margin: 0 75px;
  -webkit-column-gap: 25px;
  -moz-column-gap: 25px;
  column-gap: 25px;
  -webkit-column-rule-width: 0;
  -moz-column-rule-width: 0;
  column-rule-width: 0; }
.gallery .Image {
  display: inline-block;
  margin-bottom: 25px;
  margin-right: 25px;
  position: relative;
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }
.gallery .Image:hover .Image-overlay {
  opacity: 1; }
.gallery .Image-overlay {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out; }
.gallery .Image-overlay::after {
  display: block;
  content: '+';
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 0 1px 2px black; }
.gallery .Image img {
  width: 360px;
  height: 360px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background: #111; }
.gallery .Image:hover {
  opacity: 1 !important; }
.gallery body.light {
  background: white;
  color: #515151; }
.gallery body.light .Logo {
  color: #121212; }
.gallery body.light .Logo .img > span {
  background: #121212; }
.gallery body.light h1,
.gallery body.light h2,
.gallery body.light h3,
.gallery body.light h4 {
  color: #121212;
  font-weight: 400;
  font-family: "Roboto";
  margin-bottom: 10px; }
.gallery body.light h2::before,
.gallery #disqus_thread::before {
  display: block;
  border-top: 1px dotted #ddd;
  width: 75%;
  margin: 75px auto;
  content: ' '; }
.gallery body.light h3 {
  margin-top: 50px; }
.gallery body.light a {
  color: #111;
  font-weight: 400; }
.gallery body.light a:hover {
  text-decoration: underline; }
.gallery body.light footer a {
  color: #A0A2A4; }
.gallery body.light footer a:hover {
  color: #111;
  text-decoration: none; }
.gallery body.light footer ul li.title {
  color: #1C1D21; }
.gallery .Lightbox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }
.gallery .Lightbox.show {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
.gallery .Lightbox img {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }
.gallery .Lightbox img.portrait {
  height: 90%; }
.gallery .Lightbox img.landscape {
  width: 90%; }
.gallery body.light .Lightbox {
  background: rgba(255, 255, 255, 0.95); }
.gallery .Logo {
  color: white;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.gallery .Logo .img {
  margin: 25px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 50px;
  opacity: .75;
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms; }
.gallery .Logo .img:hover {
  opacity: 1; }
.gallery .Logo .img > span {
  width: 25px;
  height: 25px;
  background: white; }
.gallery .Logo .img > span:nth-of-type(1) {
  opacity: .75; }
.gallery .Logo .img > span:nth-of-type(2) {
  opacity: .50; }
.gallery .Logo .img > span:nth-of-type(3) {
  opacity: .25; }
.gallery .Logo .img > span:nth-of-type(4) {
  opacity: .15; }
.gallery .Logo .name {
  text-align: center;
  display: block;
  font-weight: 400;
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: 2px; }
.gallery .Logo .text {
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-size: .55rem;
  letter-spacing: 8.6px;
  opacity: .3; }
.gallery * {
  box-sizing: border-box; }
.gallery img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.gallery header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 250px; }
.gallery a {
  color: inherit;
  text-decoration: none; }
.gallery a:hover {
  color: white; }
.gallery .Post {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 75px;
  line-height: 1.75;
  margin-bottom: 75px; }
.gallery .Post img {
  width: 100%;
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }
.gallery .Post-teaser {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
.gallery .Post-teaser .name {
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: .8rem;
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.9); }
@media screen and (max-width: 960px) {
  .gallery .Images {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1; } }
@media screen and (min-width: 1600px) {
  .gallery .Images {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4; } }
@media screen and (min-width: 1800px) {
  .gallery .Images {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5; } }

html.evernote, body.evernote {
  height: 100%;
  overflow: hidden;
  background-color: #fff; }

.evernote .container, .evernote .row-evernote, .evernote .aside, .evernote .aside-1, .evernote .aside-2, .evernote .content {
  height: 100%; }
.evernote .aside-1 {
  background-color: #f8f8f8;
  border-right: 1px solid #ececec;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center; }
  .evernote .aside-1 a {
    color: #666;
    border-radius: 0px; }
.evernote .avatar {
  padding: 3px;
  width: 100%;
  margin-bottom: 30px; }
.evernote .aside-2 {
  border-right: 1px solid #ececec;
  padding-left: 10px;
  padding-right: 10px; }
.evernote .aside-2, .evernote .content {
  padding-top: 20px;
  overflow-y: auto; }
.evernote .container {
  width: 100%; }
.evernote .media {
  border-bottom: 1px solid #ececec;
  height: 72px; }
  .evernote .media .media-heading {
    font-size: 14px; }
    .evernote .media .media-heading a {
      color: #000; }
  .evernote .media img.media-object {
    width: 40px;
    max-height: 60px; }
.evernote .last-update {
  font-size: 12px; }
.evernote .last-update-time a {
  color: #008000; }
.evernote .list-group-item {
  font-size: 14px; }
.evernote li.active > a, .evernote li.active > a:focus, .evernote li.active > a:hover {
  color: #666;
  background-color: #e5e5e5; }

.timeline-content {
  border-right: 1px solid #ececec; }
  .timeline-content h2 {
    font-size: 16px;
    font-weight: normal;
    height: 40px;
    margin-bottom: 5px;
    line-height: 40px; }
  .timeline-content ul {
    padding: 0;
    margin: 0; }
  .timeline-content ul:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
    overflow: hidden; }
  .timeline-content .text {
    width: 125px;
    height: 125px;
    padding: 10px 12px;
    display: block; }
    .timeline-content .text a {
      display: block;
      width: 101px;
      height: 105px; }
  .timeline-content li.text {
    position: relative;
    float: left;
    margin: 0 6px 6px 0;
    overflow: hidden;
    background-color: #ddd;
    list-style: none; }
    .timeline-content li.text a {
      line-height: 21px;
      overflow: hidden;
      padding: 0;
      color: #666;
      text-decoration: none;
      outline: none; }
    .timeline-content li.text h3 {
      max-height: 42px;
      line-height: 21px;
      margin: 3px 0 13px;
      overflow: hidden;
      font-size: 16px;
      font-weight: bold; }
    .timeline-content li.text p {
      word-wrap: break-word;
      line-height: 23px;
      font-size: 12px; }
    .timeline-content li.text .info {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      color: #fff;
      z-index: 100;
      opacity: 0;
      background: #353535; }
      .timeline-content li.text .info em {
        display: block;
        padding-top: 40px;
        font-size: 18px;
        line-height: 40px;
        font-weight: bold;
        font-style: normal; }
      .timeline-content li.text .info small {
        font-size: 14px; }
    .timeline-content li.text a:hover .info {
      opacity: 0.9; }

.timeline .timeline-month-anchor {
  text-align: right; }

.tms-calendar .q1 {
  fill: #d6e685; }
.tms-calendar .q2 {
  fill: #8cc665; }
.tms-calendar .q3 {
  fill: #44a340; }
.tms-calendar .q4 {
  fill: #1e6823; }
.tms-calendar .q5 {
  fill: #fb8072; }

.dayClockItems {
  background: #fff;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 10px;
  color: #222;
  font-size: 14px; }
  .dayClockItems .itemStats {
    padding: 0; }
    .dayClockItems .itemStats .week {
      margin-left: 3px;
      font-size: 80%; }
    .dayClockItems .itemStats .info {
      margin-top: 3px; }
    .dayClockItems .itemStats .info, .dayClockItems .itemStats .week {
      color: #888; }
  .dayClockItems .itemList {
    padding: 0; }
    .dayClockItems .itemList ul {
      margin: 0;
      padding: 0; }
    .dayClockItems .itemList li {
      list-style: none;
      padding: 5px 10px;
      border-radius: 3px; }
      .dayClockItems .itemList li .time {
        color: #999;
        margin-right: 15px; }
      .dayClockItems .itemList li .cost {
        color: #888;
        font-size: 80%; }
      .dayClockItems .itemList li .projectInfo {
        display: none; }
        .dayClockItems .itemList li .projectInfo .project {
          margin-right: 3px; }
        .dayClockItems .itemList li .projectInfo .text-success {
          color: #60BE29; }
        .dayClockItems .itemList li .projectInfo .label-success {
          background-color: #60BE29; }
        .dayClockItems .itemList li .projectInfo .text-primary {
          color: #00A0E9; }
        .dayClockItems .itemList li .projectInfo .label-primary {
          background-color: #00A0E9; }
        .dayClockItems .itemList li .projectInfo .text-danger {
          color: #E01515; }
        .dayClockItems .itemList li .projectInfo .label-danger {
          background-color: #E01515; }
        .dayClockItems .itemList li .projectInfo .text-default {
          color: #CCCCCC; }
        .dayClockItems .itemList li .projectInfo .label-default {
          background-color: #CCCCCC; }
    .dayClockItems .itemList li.timeGapLg .time, .dayClockItems .itemList li.timeGapLg .thing {
      color: #fff; }
    .dayClockItems .itemList li.timeGapSm {
      background: #ececec; }
    .dayClockItems .itemList li.timeGapMd {
      background: #ececec; }
    .dayClockItems .itemList li.timeGapLg {
      background: #70d445; }
    .dayClockItems .itemList li.clockItem:hover {
      background: #f4f4f4; }
      .dayClockItems .itemList li.clockItem:hover .cost {
        display: none; }
      .dayClockItems .itemList li.clockItem:hover .projectInfo {
        display: inline; }

.zy-event {
  background-color: #ddd;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 125px;
  height: 125px;
  overflow: hidden;
  padding: 5px 8px; }

.zy-event:hover {
  background-color: #bbb; }

.zy-event-head > a {
  font-size: 90%;
  font-weight: bold;
  color: #74797E;
  word-break: break-all; }

.zy-event-body {
  margin-top: 5px; }

.zy-event-body > p {
  color: #74797E;
  word-break: break-all;
  font-size: 80%; }

.zy-event-info {
  position: absolute;
  top: 1px;
  display: none;
  z-index: -1; }

.zy-event-info:hover {
  display: block; }

.zy-comments {
  background-color: #fff;
  margin-top: 100px;
  /* padding: 10px 20px; */
  /* border: 1px solid #bbb; */ }

table {
  margin-bottom: 15px; }

th, td {
  border: 1px solid #aaa;
  padding: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em; }

.item-meta {
  font-size: 14px;
  line-height: 18px;
  color: #999; }
  .item-meta span {
    margin-left: 2px;
    margin-right: 5px; }
    .item-meta span a, .item-meta span i {
      margin-right: 2px;
      margin-left: 2px; }

.items .item-title {
  font-size: 150%; }
.items ul {
  list-style: none;
  padding-left: 0; }
.items li {
  border-bottom: 1px dashed #d9d9d9;
  padding: 10px 0 15px 0; }

.todo {
  color: red; }

.done {
  color: green; }

.timestamp {
  color: gray; }

.timestamp-kwd {
  color: #f59ea0; }

.tag {
  background-color: #add8e6;
  font-weight: normal; }

.target {
  background-color: #551a8b; }

span.underline {
  text-decoration: underline; }

.center {
  text-align: center; }

#article img {
  max-width: 100%; }

.note img {
  max-width: 100%; }

.figure {
  margin: 30px 0px;
  text-align: center; }
  .figure p:last-child {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
    text-align: center; }

.image-group-name {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 8px; }

.figure-thumbnail {
  margin-bottom: 7px;
  margin-right: 1px;
  max-height: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

div.half-left-float, table.half-left-float {
  float: left;
  width: 50%;
  margin: 10px 10px 10px 10px;
  padding-right: 10px; }

div.half-right-float, table.half-right-float {
  float: right;
  width: 50%;
  margin: 10px 10px 10px 10px;
  padding-left: 10px; }

.outline-1, .outline-2, .outline-3,
.outline-4, .outline-5, .outline-6 {
  clear: both; }

/*# sourceMappingURL=styles.css.map */
