{% extends 'base.html' %}

{% block content %}
    {% for year, items_of_year in items_group_by_year %}
        <h2 id="{{ year }}">{{ year }}</h2>
        <ul class="listing">
            {% for it in items_of_year %}
                {% if it.extension in ['org', 'md'] %}
                    <li>
                        <span class="date">{{ item_date_slash(it) }}</span>
                        <a href="/{{ it.uri }}" title="{{ it.title }}">{{ it.title if it.title else it.uri }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
