{% extends 'time.html' %}


{% block content %}

    <div>
        <form class="form-horizontal">
            <fieldset class="m-y-xs">
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend input-group">
                            <span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" style="width: 200px" class="form-control" value="2016-04-30"/>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">按周统计
                        <small>
                            {% for week in range(1, 20) %}
                            <a href="#" onclick="renderPieNestGraph({{ week }})">{{ week }}</a>
                            {% endfor %}
                            2016年
                        </small>
                    </h3>
                </div>
                <div class="panel-body">
                    <div id="pieNestGraph" style="width: 100%;height:600px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">2016 年各月用时统计</h3>
                </div>
                <div class="panel-body">
                    <div id="yearStatsByMonth" style="width: 100%;height:400px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">堆叠区域图</h3>
                </div>
                <div class="panel-body">
                    <div id="areaStackGraph" style="width: 100%;height:400px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">曲线图</h3>
                </div>
                <div class="panel-body">
                    <div id="lineGraph" style="width: 100%;height:400px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">计时项</h3>
                </div>
                <div class="panel-body">
                    <div id="clockItems"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">2016 年 第 13 周</h3>
                </div>
                <div class="panel-body">
                    <canvas id="months_stats_chart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    <canvas id="weeks_stats_chart"></canvas>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="/static/node_modules/echarts/dist/echarts.min.js"></script>
    <script src="/static/js/tms.js"></script>
    <script src="/static/js/tms_echarts.js"></script>

    <script type="text/babel" src="/static/js/tms_react.js"></script>

    <script>
        $(document).ready(function() {
            renderYearStatsByMonth();
            renderWeeksStatsChart();
            renderMonthsStatsChart();
            renderAreaStackGraph();
            renderLineGraph();
            renderPieNestGraph(10);
        });
    </script>
{% endblock %}
