{% extends 'evernote.html' %}

{% block aside2_content %}
    <div class="p-x-xs p-t">
        <ul class="list-group">
            {% for it in time_items %}
                <a class="list-group-item {% if it.uri == item.uri %} active {% endif %}" href="{{ item_url(it) }}">
                    {{ it.title }}
                </a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}
    <h1 class="center">{{ item.title }}</h1>
    {{ item.content }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
