{% extends 'tms/base.html' %}


{% block html_tag %}
    <html style="height: 100%; overflow: hidden">
{% endblock %}

{% block body_tag %}
    <body class="admin">
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
{#    {% macro admin_nav_item(page_url, icon) %}#}
{#        <li class="nav-item {{ macros.active_if_path_include(page_url) }}">#}
{#            <a href="{{ page_url }}">#}
{#                <i class="fa fa-{{ icon }} fa-lg"></i>#}
{#            </a>#}
{#        </li>#}
{#    {% endmacro %}#}

{#    <div class="admin-wrapper">#}
{#        <div class="admin-nav">#}
{#            <div class="admin-nav-top">#}
{#                <a href="/" class="p-y-xs">仲</a>#}
{#            </div>#}
{#            <div class="admin-nav-middle m-t">#}
{#                <ul>#}
{#                    <li class="nav-item">#}
{#                        <a href="{% url 'pkm:index' %}">#}
{#                            <i class="fa fa-money fa-lg"></i>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a href="{% url 'cms:index' %}">#}
{#                            <i class="fa fa-folder-o fa-lg"></i>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a href="{% url 'tms:index' %}">#}
{#                            <i class="fa fa-clock-o fa-lg"></i>#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
{##}
{#            </div>#}
{#            <div class="admin-nav-bottom">#}
{#            </div>#}
{#        </div>#}

        <div class="admin-main" style="position: relative; width: 100%; height: 100%; display: -webkit-flex;">
            <div class="admin-aside" style="">
                <div class="aside-header">
                    {% block admin_aside_header %}
                        <span class="m-x" style="color: #333333; font-size: 18px; font-weight: 500; line-height: 50px; float: left">
                        {% block admin_aside_title %}
                        {% endblock %}
                        </span>
                        <div class="m-x" style="line-height: 48px">
                            <a href="" style="color: #8f8f8f; float: right; line-height: 48px; text-decoration: none">
                                <i class="fa fa-lg fa-cog" ></i>
                            </a>
                        </div>
                    {% endblock %}
                </div>

                <div class="aside-body m-t">
                    {% block admin_aside_body %}

                    {% endblock %}
                </div>
            </div>
            <div class="admin-content-wrapper">
                <div class="admin-content">
                    <div class="admin-content-header m-x">
                        <div class="content-title">
                            {% block content_title %}
                                标题
                            {% endblock %}
                        </div>
                        <div class="content-info">
                            {% block content_info %}
                                信息
                            {% endblock %}
                        </div>
                    </div>

                    <div class="admin-content-body m-x m-t">
                        {% block content %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
    var toggleCaretWhenCollapse = function(sections) {
        sections.on('hidden.bs.collapse', function () {
            $(this).prev().find("i.fa").removeClass("fa-caret-down").addClass("fa-caret-right");
        })
        sections.on('show.bs.collapse', function () {
            $(this).prev().find("i.fa").removeClass("fa-caret-right").addClass("fa-caret-down");
        })
    }
    </script>
{% endblock %}

