<!DOCTYPE html>

{% block html_tag %}
    <html>
{% endblock %}

<head>
    <title>
        {% block title %}
            {% if title %}
                {% if item.title %}
                    {{ item.title }}
                {% else %}
                    {{ item.uri }}
                {% endif %}
                - 仲之地
            {% endif %}
        {% endblock %}
    </title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'node_modules/cal-heatmap/cal-heatmap.css' %}" />
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap-datetimepicker.js/css/bootstrap-datetimepicker.min.css' %}" />
    <link rel="stylesheet" href="{% static 'static/css/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'static/css/admin.css' %}"/>

    {#    <link rel="stylesheet" href="{% static 'node_modules/zoom.js/css/zoom.css' %}" />#}
    {#    <link rel="stylesheet" href="{% static 'node_modules/highlight.js/styles/tomorrow.css' %}" />#}
    {#    <link rel="stylesheet" href="{% static 'node_modules/fancybox/dist/css/jquery.fancybox.css' %}" />#}
    {#    <script src="{% static 'build/bundle.js' %}"></script>#}

    {% block styles %}
    {% endblock %}
</head>

{% block body_tag %}
    <body>
{% endblock %}

{% block header %}
    {% include '_partials/header.html' %}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-9 content p-t">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-md-3 aside p-t">
                {% block aside %}

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include '_partials/footer.html' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'node_modules/moment/min/moment.min.js' %}"></script>

    <script src="{% static 'node_modules/highlight.js/lib/highlight.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap-datetimepicker.js/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap-datetimepicker.js/js/locales/bootstrap-datetimepicker.zh-CN.js' %}"></script>
    <script src="{% static 'node_modules/echarts/dist/echarts.min.js' %}"></script>
    <script src="{% static 'node_modules/chart.js/dist/Chart.min.js' %}"></script>
    <script src="{% static 'node_modules/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'node_modules/lodash/lodash.min.js' %}"></script>
    <script src="{% static 'node_modules/d3/d3.min.js' %}"></script>
    <script src="{% static 'node_modules/cal-heatmap/cal-heatmap.min.js' %}"></script>

    {#    <script src="{% static 'node_modules/zoom.js/dist/zoom.min.js' %}"></script>#}
    {#    <script src="{% static 'node_modules/static/js/imagegrid.js' %}"></script>#}
    {#    <script src="{% static 'node_modules/underscore/underscore-min.js' %}"></script>#}
    {#    <script src="{% static 'node_modules/fancybox/dist/js/jquery.fancybox.pack.js' %}"></script>#}
    <!--<script src="/static/js/browser.min.js"></script>-->


    <script>
        $(document).ready(function() {
        });
    </script>
{% endblock %}


</body>
</html>
