{% extends 'tms/admin.html' %}

{% block main %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">周报</h3>
        </div>
        <div class="panel-body">
            <table>
                <tr></tr>
                {% for clock_item in clock_items %}
                    <tr>
                        {{ clock_item.thing }}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}