{% extends 'admin.html' %}

{% block admin_aside_title %}
    内容管理
{% endblock %}

{% block admin_aside_body %}
    {{ macros.admin_aside_section(id='viewerSection', title='目录浏览', section_items=[
            (url('cms:blog_viewer'), '文章', 'file-text-o'),
            (url('cms:notes_viewer'), '笔记', 'file-text-o'),
            (url('cms:life_viewer'), '生活', 'file-text-o'),
            ] ) }}

    {{ macros.admin_aside_section(id='archivesSection', title='归档', section_items=[
            (url('tms:project'), '2016', 'archive'),
            (url('tms:project'), '2015', 'archive'),
            ] ) }}
    {{ macros.admin_aside_section(id='mediaSection', title='媒体', section_items=[
            (url('tms:project'), '照片', 'photo'),
            (url('tms:project'), '视频', 'play-circle'),
            (url('tms:project'), '歌单', 'play-circle'),
            ] ) }}
    {{ macros.admin_aside_single_section(url('tms:about'), '关于', 'info-circle') }}
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        $(document).ready(function() {
            toggleCaretWhenCollapse($('#viewerSection, #archivesSection, #mediaSection'));
        });
    </script>
{% endblock %}


